//import font family from google fonts
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Pacifico&display=swap');

// all css styles relating to the navabr
.nav-container {
    background:rgba(0,0,0,0.64);
    border-bottom: 1px solid rgba(224, 239, 252, 0.219);
    position: sticky;
    top: 0;
    z-index: 2;
  }
  .brand{
    color: rgb(255, 255, 255);
    display: flex;
    font-family: 'Pacifico', cursive;
    align-items: center;
    &:hover{
      color: rgb(255, 255, 255);
      text-decoration: none;
    }
    h1{
      margin-bottom: 0;
      font-size: 2rem;
      color: whitesmoke;
      font-weight: 500;
    }
  }

  nav {
  padding: 10px;
    #logo {
      width: 5vmin;
      margin-right: 10px;
      object-fit: cover;
        }
  }