@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Pacifico&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: white;
  background-color: #973367;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 1rem;
  font-weight: 600;
}

h2 {
  font-size: 1rem;
}

p {
  font-size: 0.8rem;
  margin-bottom: 0.4rem;
}

a {
  color: rgba(255, 255, 255, 0.952);
  text-decoration: none;
}

a:hover {
  color: rgba(255, 255, 255, 0.952);
}

.nav-container {
  background: rgba(0, 0, 0, 0.64);
  border-bottom: 1px solid rgba(224, 239, 252, 0.219);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

.brand {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Pacifico', cursive;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brand:hover {
  color: white;
  text-decoration: none;
}

.brand h1 {
  margin-bottom: 0;
  font-size: 2rem;
  color: whitesmoke;
  font-weight: 500;
}

nav {
  padding: 10px;
}

nav #logo {
  width: 5vmin;
  margin-right: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  display: block;
  width: 100%;
  padding: 5px;
  margin-top: 6rem;
  bottom: 0;
  text-align: center;
  background-color: #76767762;
}

.footer p {
  margin: 0;
  color: white;
  font-weight: 500;
  font-size: 0.9rem;
}

.footer .dev {
  font-family: 'Courgette', cursive;
  text-decoration: none;
  font-weight: 600;
  color: white;
}

.footer .dev:hover {
  opacity: 0.8;
}

.footer .love {
  color: #c1121f;
}

.intro {
  font-size: 1rem;
  color: whitesmoke;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 1.7rem;
}

.intro a {
  color: white;
  text-decoration: underline;
}

.loading {
  display: block;
  text-align: center;
}

.loading img {
  width: 15rem;
  border-radius: 50%;
}

.data-container {
  display: -ms-grid;
  display: grid;
  grid-gap: 50px;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  position: relative;
  margin: 50px;
}

.data-box {
  padding: 20px;
  background-color: #e9cbde;
  color: black;
  padding-bottom: 10px;
  border: 1px solid rgba(224, 239, 252, 0.219);
  border-radius: 20px;
  cursor: default;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  position: relative;
}

.title {
  margin-top: 0.7rem;
  height: 100px;
}

.nasa-images {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  -o-object-fit: contain;
     object-fit: contain;
  padding-bottom: 10px;
}

.flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #676769e1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.icons .share {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.842);
  cursor: pointer;
}

.icons .share:hover {
  opacity: 0.75;
}

.icons span {
  padding: 0.25rem;
}

.icons .Heart {
  font-size: 1.7rem;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.icons .Heart:hover {
  opacity: 0.75;
}

.icons .animated-heart {
  color: #9b2308;
  font-size: 1.9rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.icons .animated-heart:hover {
  opacity: 0.75;
}
/*# sourceMappingURL=index.css.map */